@import url(reset.css);
@import url(font.css);

.banner{  /*배너전체영역*/
	position:relative;
	width:1200px;
	height:150px;
	/* background:yellow;	  */
	margin: auto;
}
.banner .ban{   /*슬라이드영역*/
	width:1030px; /*보여주는 폭을 줄이고자 할때 가로폭을 맞춰서 줄여줌*/
	height:120px;
	overflow:hidden;
	position: absolute;
	top: 15px;
	left: 85px;
	/* background:orange;	  */
}
.banner .ban ul{
	display: flex;
	position:relative;  
}
.banner .ban ul li{
	margin-right:10px;
	width:250px;  
	height:120px; 
}


/*좌우버튼*/
.ban_btn .fa-solid{
  font-size: 40px;
  color: #555;
}
.ban_btn .ban_left,
.ban_btn .ban_right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ban_btn .ban_left{left: 30px;}
.ban_btn .ban_right{right: 30px;}
.ban_btn .ban_left:hover,
.ban_btn .ban_right:hover{opacity: 0.3;}