@import url(common.css);

#gallery {
  overflow:hidden; 
  position:relative; 
  margin:0 auto; 
  width: 300px; 
  height: 150px; 
  border:solid 2px red;
}
#gall {
  position: absolute; 
  left: 0px; 
  top: 20px; 
  width: 600px; 
  height: 100px; 
}

.set1 { 
  position: absolute; 
  left: 0px; 
  top: 0px; 
  width: 300px; 
  height: 100px; 
  z-index: 1; 
  background: #00CCFF; 
}
.set1 ul, .set2 ul{display: flex;}
.set1 li { 
  margin-right:10px; 
  margin-top:5px; 
  width:90px; 
  height:90px; 
  background:#FFFF66; 
}

.set2 { 
  position: absolute; 
  left: 300px; 
  top: 0px; 
  width: 300px; 
  height: 100px; 
  z-index: 1; 
  background: #00CCFF; 
}
.set2 li { 
  margin-right:10px; 
  margin-top:5px; 
  width:90px; 
  height:90px; 
  background:#FFFF66; 
}

.left { 
  position: absolute; 
  left: 0px; 
  bottom:0px; 
  width: 50px; 
  height: 20px; 
  z-index: 1; 
  background: #FF0; 
  text-align:center; 
}
.right { 
  position: absolute; 
  right: 0px; 
  bottom:0px; 
  width: 50px; 
  height: 20px; 
  z-index: 1; 
  background: #FF0; 
  text-align:center;
}