@import url(common.css);

.banner{  /*배너전체영역*/
	position:relative;
	width:1200px;
	height:150px;
	/* background:yellow;	  */
	margin: auto;
}
.banner .ban{   /*슬라이드영역*/
	width:1030px; /*보여주는 폭을 줄이고자 할때 가로폭을 맞춰서 줄여줌*/
	height:120px;
	overflow:hidden;
	position: absolute;
	top: 15px;
	left: 100px;
	/* background:orange;	  */
}
.banner .ban ul{
	display: flex;
	position:relative;  
}
.banner .ban ul li{
	margin-right:10px;
	width:250px;  
	height:120px; 
}


/*좌우버튼*/
.ban_left{
	position:absolute;
	top:60px;
	left:30px;
	cursor:pointer;
}
.ban_right{
	position:absolute;
	top:60px;
	right:30px;
	cursor:pointer;
}
.ban_btn span{
	display:inline-block;
	width:17px;
	height:27px;	
}
.ban_btn .ban_left{background:url(../image/main-event-left_02.png) no-repeat;}
.ban_btn .ban_right{background:url(../image/main-event-right_02.png) no-repeat;}
.ban_btn .ban_left:hover{background:url(../image/main-event-left_01.png) no-repeat;}
.ban_btn .ban_right:hover{background:url(../image/main-event-right_01.png) no-repeat;}